src/morbilidad_b2/*
src/morbilidad_c2/*
src/morbilidad_d2/*
src/procedimientos/*
src/Reporte_de_Recursos_de_Salud/*
data/morbilidad_b2.csv
data/morbilidad_c2.csv
data/morbilidad_d2.csv
data/procedimientos.csv
data/morbilidad_global.csv
